.container {
  position: relative;
  margin-top: 12px;
}

.control {
  width: calc(100% - 24px);
  height: 96px;
  margin: 4px 12px 6px 12px;
  color: white;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: hsla(185, 100%, 62%, 0.2);
  overflow: auto;
  resize: none;
  /* border: white 1px solid; https://codepen.io/netgloo/pen/JXreqJ?editors=1100 */
}

.control:focus {
  outline: none;
}

.control::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

.control:-webkit-autofill,
.control:-webkit-autofill:hover,
.control:-webkit-autofill:focus {
  -webkit-text-fill-color: #fc2f70;
  transition: background-color 5000s ease-in-out 0s;
}

.control_label {
  margin-left: 12px;
  opacity: 0.8;
  font-weight: 400;
  font-size: small;
}

.container .control_label {
  position: absolute;
  /* top: calc(15% - 5px); */
  top: 2px;
  left: 2px;
  opacity: 0;
  transition: all 0.3s ease;
}
.container .control:not(:placeholder-shown) {
  /* padding: 20px 0 0 0; */
}
.container .control:not(:placeholder-shown) + .control_label {
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
  opacity: 0.7;
}

.control_underline {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.control:focus ~ .control_underline,
.control:hover ~ .control_underline {
  transform-origin: bottom left;
  transform: scaleX(1);
}
