.card-overlay {
  position: relative;
  width: inherit;
  height: inherit;
}
.confirm-delete_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  background: #12102e;
  color: #ffffff;
  border-radius: 6px;
  transition: 0.3s;
}
.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: #12102e;
  color: #ffffff;
  padding: 18px;
  border-radius: 8px;
  background: #12102e;
  box-shadow: 0 10px 15px -3px #12102e, 0 4px 6px -2px #12102e;
  transition: all 0.5s;
}
.card:hover,
.card:focus {
  box-shadow: 0 20px 30px -3px #12102e, 0 8px 12px -2px #12102e;
}

.card-keywords_list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 16px 0 4px 0;
  padding: 0;
  overflow: auto;
}

.card-keywords_item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.card-keywords_item-text {
  padding: 6px;
  margin-right: 8px;
  border: 1px solid #442244;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
}
.card-keywords_item-text:hover {
  background: #fc2f70;
  cursor: pointer;
}
.card-keywords_list::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

.card-keywords_item-delete {
  display: flex;
  margin-right: 8px;
  font-size: small;
  cursor: pointer;
}

.card-separator {
  height: 1px;
  margin: 4px 0;
  background: #442244;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.delete-confirmation_text {
  margin-top: 36px;
}

.delete-actions {
  margin: 24px;
}
