<div class="card-overlay">
	<div class="card">
		<div>
			<yeah-link *ngIf="!editUrlMode" tabIndex="1" link="{{ url.link }}"></yeah-link>
			<yeah-textarea *ngIf="editUrlMode" inputId="txtEditUrl" inputTabIndex="1" placeholderText="Edit your URL..."
			 labelText="URL" inputValue="{{ url.link }}" rowCount="3" name="edit-url" ngModel>
			</yeah-textarea>
		</div>
		<ul class="card-keywords_list">
			<div *ngFor="let tag of url.tags" class="card-keywords_item">
				<div class="card-keywords_item-text" (click)="fireSelectedTag(tag)">
					{{ tag.name }}
				</div>
				<div *ngIf="editUrlMode" class="card-keywords_item-delete" (click)="fireDeleteTag(tag)">&times;</div>
			</div>
		</ul>
		<div class="card-separator"></div>
		<div class="card-actions">
			<yeah-button *ngIf="!editUrlMode" (click)="toggleDeleteConfirmationMode()">Delete</yeah-button>
			<yeah-button *ngIf="editUrlMode" (click)="cancelEditMode()">Cancel</yeah-button>
			<yeah-button (click)="fireEditUrl()">{{ editButtonText }}</yeah-button>
		</div>
	</div>
	<div [ngClass]="{
        'confirm-delete_container': true,
        'active': showDeleteConfirmation
      }">
		<div class="delete-confirmation_text">
			Are you sure to delete this URL?
		</div>
		<div class="card-actions delete-actions">
			<yeah-button (click)="toggleDeleteConfirmationMode()">Cancel</yeah-button>
			<yeah-button (click)="fireDeleteUrl()">Delete</yeah-button>
		</div>
	</div>
</div>